<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.google.android.apps.seekh" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.samagra.parent.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_mpp"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_mpp_round"
        android:supportsRtl="true"
        android:theme="@style/LoginTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:name,android:allowBackup">
        <!--    <activity
                android:name=".ui.moolyankanabhiyan.MoolyankanAbhiyanActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:exported="false">
            </activity>-->
        <activity
            android:name=".ui.newresultafterdietmentor.ResultNewAfterDietMentorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".ui.dietmentorassessmenttype.DIETAssessmentTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="org.samagra.prerna.LAUNCH_DIET_ASSESSMENT_TYPE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.samagra.parent.ui.privacy.PrivacyPolicyScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="org.samagra.prerna.LAUNCH_PRIVACY_POLICY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.samagra.parent.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.assessmenthome.AssessmentHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="org.samagra.prerna.LAUNCH_ASSESSMENT_HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.detailselection.DetailsSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">

            <intent-filter>
                <action android:name="org.samagra.prerna.LAUNCH_PARENT_HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.competencyselection.CompetencySelectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.samagra.workflowengine.odk.OdkInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.samagra.workflowengine.bolo.readalong.ReadAlongDisclaimerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.samagra.workflowengine.workflow.WorkflowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.samagra.workflowengine.bolo.ScoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.samagra.workflowengine.bolo.readalong.StudentHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name="com.samagra.workflowengine.bolo.instruction.ReadAlongInstructionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.finalresults.FinalResultsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.competencyselection.AssessmentCompleteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.userselection.UserSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.assessmentsetup.AssessmentSetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.privacypolicy.PrivacyPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.assessmenttype.AssessmentTypeSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"/>

        <activity
            android:name=".ui.competencyselection.readonlycompetency.ReadOnlyCompetencyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.individualresultnl.IndividualNlResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.faq.HelpFaqActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.finalresults.FinalResultsNlActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.competencyselection.readonlycompetency.AssessmentSurveyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.competencyselection.SuchiAbhyasIndividualResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />

        <activity
            android:name="com.samagra.deeplink.DeepLinkActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="nipunlakshya" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.samagra.parent.authentication.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


    </application>

</manifest>